<div class="container">
  <div class="top-header">
    <h3>Request a Review</h3>
    <h2><span class="span_top" ><i class="fas fa-home"></i></span>Business Location</h2>
    <p>100 Marsall St. Second Floor
        <br> Redwood City, CA 94063</p>
    <a>Change Location</a>
  </div><!-- .top-header -->
    <form>
      <div class="group">      
        <input type="text" required>
        <span class="highlight"></span>
        <label>Customer's full name (e.g. "Jane Smith")</label>
      </div>
      <div class="text-flex">
        <div class="group country-code">          
          <div class="input-group select">
            <select class="select-text" required>
              <option value="1" selected class="us">+91 India</option>
              <option value="2" class="uk">+44 UK</option>
              <option value="3" class="in">+1 US</option>
              <option value="4" class="np">+977 Nepal</option>
            </select>
          </div>
        </div>
        <div class="group phone">   
          <input type="tel" required>
          <span class="highlight"></span>
          <label>Customer's Phone Number</label>
        </div>
      </div>
      <div class="group text-area text-flex">      
        <textarea  required  rows="10" placeholder="Enter Here"></textarea><i class="far fa-edit"></i>
      </div>
      <button (click)="clicked()" >Send Request</button>
    </form>
</div>

